<div class="container pt-5 pb-5">
  <div class="col-12">
      <div class="d-flex flex-wrap justify-content-between">
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">About Our Component</h5>
                  <p class="card-text">Content itself is what the user derives value from. Thus, "content" can refer
                      to the information provided through the medium, the way in which the information was presented,
                      as well as the added features included in the medium in which that information was delivered.
                      The medium, however, provides little to no value to the end-user without the information and
                      experiences that make up the content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Message from our CEO and MD</h5>
                  <p class="card-text">At Mindtree, we endeavor to be a trusted digital transformation partner to our customers, while being a socially and environmentally responsible organization. We are convinced that this combined focus on growth and sustainability is the way to build long-term value for all our stakeholders.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Message from our Global Head of Sustainability</h5>
                  <p class="card-text">At Mindtree, we deeply care about the world that we live in and leave behind for our future generations. We are fully committed towards creating positive impact for our stakeholders, the environment and the larger community through informed decision making and conscious actions.

                    We have laid out bold aspirations that will direct us and hold us accountable to the ESG commitments we have set out to achieve through 2030.</p>
                  <a class="btn ">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>
  </div>
</div>
