<div class="container">
  <img src="../../../../../assets/Home.jpg" alt=""><br><br><br>
  <h1>Read About Us</h1>
  <p>Giving wings to one’s business in turbulent skies seems to be the mantra for the CIO of Lufthansa Cargo AG - Jochen Gottelmann. In this video, watch him speak about how Lufthansa Cargo responded to the pandemic with agility and resilience, and how Mindtree helped drive Lufthansa Cargo’s ESB middleware transformation. In Jochen’s words, Mindtree has proven itself to be a reliable, competent, scalable and trustworthy partner to Lufthansa cargo – both in good times and in not so good times.</p>
</div>
